package views

import "github.com/MorrisMorrison/retfig/viewmodels"

templ GetEvent(vm *viewmodels.GetEventViewModel) {
	<section class="section">
		<div class="is-flex is-flex-direction-column">
			@EventDetails(vm)
			@PresentsList(vm.Presents)
			@InvitationLink(vm.InvitationLink)
		</div>
	</section>
}
