package views

import "github.com/MorrisMorrison/retfig/viewmodels"

templ PresentsList(vm viewmodels.PresentListViewModel) {
	<div class="box">
		PresentsList
		for _, present := range vm.Presents {
            @PresentListItem(present)
		}
	</div>
}
