package views

import "github.com/MorrisMorrison/retfig/ui/viewmodels"

templ CommentListItem(eventId string, vm viewmodels.CommentListItemViewModel) {
	<div class="is-flex is-flex-direction-row">
	<span class="has-text-weight-bold">{vm.Username}</span>: {vm.Content}
	</div>
}
