package common

templ Header() {
	<section class="hero is-link">
		<div class="hero-body">
			<p class="title">
				retfig	
			</p>
			<p class="subtitle">
				simple web app to share gift ideas for upcoming events using gin, templ, htmx and bulma.css
			</p>
		</div>
	</section>
}
